{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">


				<h1><i>Project</i> : {{ project.name }}</h1>

				<p><i>Description</i>: {{ project.description|safe }}</p>


                {% for platform in project.project_platform.all %}
                    {{ platform }}
                {% endfor %}

                {% for skill in project.project_skill.all %}
                    {{ skill|safe }}
                {% endfor %}

		</div>
	</div>

{% endblock %}