{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
                    <tr>
                        <th> Project Title </th>
						<th> Project Description</th>
                        <th>Creator</th>
                        <th>Language</th>
                        <th>Assigned</th>
                        <th>Progress</th>
                        <th>Assigned Group</th>
                    </tr>
				</thead>
				<tbody>
					{% for project in projects %}
					<tr>

						<td>{{ project.title }}</td>
						<td>{{ project.description }}</td>
                        <td>{{ project.creator }}</td>
                        <td>{{ project.language }}</td>
                        <td>{{ project.assigned }}</td>
                        <td>{{ project.progress }}</td>
                        <td>{{ project.assigned_group }}</td>

						<td><a href="/project?name={{ project.name }}">{{ project.name }}</a></td>
						<td>{{ project.description }}</td>
                         <td>
{#                             <a href="/" class="btn btn-default btn-sm btn-favorite" role="button">#}
{#                                <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>#}
{#                                    <span class="glyphicon glyphicon-star "></span>#}
{#                         </a>#}

                             <a href="/project/bookmarkProject?name={{ project.name }}" class="btn btn-default">BookMark</a>

                         </td>


					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}