{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">


				<h1>Project</h1>
                    {{ project.name }}
				<p>Description</p>
                    {{ project.description|safe }}

                {% for platform in project.project_platform.all %}
                    {{ platform }}
                {% endfor %}

                {% for skill in project.project_skill.all %}
                    {{ skill|safe }}
                {% endfor %}

		</div>
	</div>

{% endblock %}