{% extends "body.html" %}

{% block content %}

    <!-- Content -->
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>{{ group.name }}</h1>
            <p>{{ group.description }}</p>


            {% if userIsMember %}
                <a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
                <a href="/group/platform?name={{ group.name }}" class="btn btn-default">Strength</a>
                {#                <a href="/group/skill?name={{ group.name }}" class="btn btn-default">skills</a>#}
                <a href=" 'group:AddMember' group.pk %}" class="btn btn-default">add member</a >
                <a href="/group/recommend?id={{ group.id }}" class="btn btn-default">recommend me a Project</a>
                <a href="{% url 'group:Comments' group.id %}" class="btn btn-default">comment</a>
                <a href="{% url 'group:ViewAllProject' %}" class="btn btn-default">View All Project</a>
                {% if project_applied %}
                    {#            <h4>applied Project: {{ project_applied }}<h4>#}
                    <h4>Applied Project: </h4><a href="/project?id={{ project_id }}"><h4>{{ project_applied }}</h4></a>
                    {#                <td><a href="/project?id={{ project.id }}">{{ project.name }}</a></td>#}
                {% endif %}
            {% else %}
                <!--<a href="/group/join?name={{ group.name }}" class="btn btn-default">Join this Group</a>--->
                {% if project_applied %}
                    {#            <h4>applied Project: {{ project_applied }}<h4>#}
                    <h4>Applied Project: </h4><a href="/project?id={{ project_id }}"><h4>{{ project_applied }}</h4></a>
                    {#                <td><a href="/project?id={{ project.id }}">{{ project.name }}</a></td>#}
                {% endif %}
                 <a href="{% url 'group:Comments' group.id %}" class="btn btn-default">comment</a>
                <a href="/group/platform?name={{ group.name }}" class="btn btn-default">Strength</a>
                 <a href="{% url 'group:ViewAllProject' %}" class="btn btn-default">View All Project</a>
                </h4>

            {% endif %}


        </div>
    </div>
    {% block groupContent %}
        <div class="container">
            <div class="table-responsive">
                <table class="table table-striped sortable">
                    {#                {% for skills in student_skills_list %}#}
                    {#                    {{ skills }}#}
                    {#                {% endfor %}#}
                    {##}
                    {#                {% for platform in student_platforms_list %}#}
                    {#                    {{ platform }}#}
                    {#                {% endfor %}#}

                    <thead>
                    <tr>
                        <th>Users</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in group.members.all %}
                        <tr>
                            <td>{{ item.get_full_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if userIsMember %}
		<div class="container" role="main">
		    <div class="panel panel-default">

		        <form method="post" enctype="multipart/form-data" action="{% url 'group:AddMember' group.pk %}" class="panel-body validate">
		        {% csrf_token %}
		             <label for="email">add a student </label>

		              <input type="text" width="50%" name="email" id="email" placeholder="student email" class="form-control" data-bvalidator="required" data-bvalidator-msg="Comment Required">



		            <input type="submit" value="Submit" class="btn btn-primary">
		        </form>
		    </div>
		</div>
       {% endif %}

    {% endblock %}
{% endblock %}