{% extends "body.html" %}

{% block content %}

	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">

				<thead>
					<tr>
						<th><h1>Skills</h1></th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.group_skills.all %}
					<tr>
						<td>{{ item }}</td>
					</tr>


					{% endfor %}
                <thead>
					<tr>
						<th><h1>Platform</h1></th>
					</tr>
				</thead>

                {% for item in group.group_platform.all %}
					<tr>
						<td>{{ item }}</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}